print()    The print() function in python is  used to display output to the console.

In [1]:
print("Hello, Arvind !")

Hello, Arvind !

#-----> PREDEFINED FUNCTION <--------#

#Refers to built-in functions that come with Python's standard library.

#These functions are ready to use without requiring any additional imports or definitions.

In [9]:
print("ojects, sep="" end-'\n' file-sys.stdout, flush-False")

ojects, sep= end-'
' file-sys.stdout, flush-False

In [10]:
#object - you can print anything function.
print("Heyy", "Arvind", "Kumar")    #multiple argument print in one line

Heyy Arvind Kumar

In [ ]:
#sep'' - seprate is used between in two sentence.
print("Hlw", "Arvind", "Kumar", sep="-")
print("Hlw", "Arvind", "Kumar", sep="_")
print("Hlw", "Arvind", "Kumar", sep="|")
print("Hlw", "Arvind", "Kumar", sep=" ") #Space used

Hlw-Arvind-Kumar
Hlw_Arvind_Kumar
Hlw|Arvind|Kumar
Hlw Arvind Kumar

In [ ]:
#end='/n'   start with new line 
print("learning", end="\n")
print("Python")

learning
Python

In [3]:
print("learning", end=" ")
print("Python")

learning Python

In [ ]:
print("*")
print("**")
print("***")
print("****")
print("*****")


/Users/macbookairm1/IIM BS PYTHON/7nov OPPE/Practice.ipynb

*
**
***
****
*****

In [16]:
print("*****")
print(" ****")
print("  ***")
print("   **")
print("    *")

*****
 ****
  ***
   **
    *

In [17]:
# String always write in double and single quotes and Integer, Float is write without any quotes <------#
print("Different Types of Numbers", 20, 30.33)

Different Types of Numbers 20 30.33

#-------> Common Error in Python code <------#
# Spelling Mistake
#Wrong Brackets
#Quotes

In [18]:
#---Make Emoji Smiling face with smile eyes----#

print('\N{smiling face with smiling eyes}')

print('\N{grinning face}')

print('\N{smiling face with halo}')

ðŸ˜Š
ðŸ˜€
ðŸ˜‡

#---What is Syntax in Programming? ----apne jo code likha uska structure kaisa hai isko syntax bolete hai.

#---Syntax in programming refers to the set of rules that define the correct structure and format of code so that the computer can understand and execute it.

#---What is Semantics: -----appp kise bhi code se kay execute karna chathe hai usko semantics bolte hai.

#---Semantics in programming refers to the meaning or behavior of the code, defining what the program does when it runs.

#---- Single Comments ----#

#-- Comments in python are commonly used to clarify or explain codes.
#-- Comments are not interpretted by python.
#-- Meaning, comments will not be executed.

#--- Multiline Comments --- using tirple single quotes.

'''
hey everyone, i am arvind kumar now i am doing python lecture.
'''

#---Indentation:  Indentation refers to the spaces at the beginning of a code line and Python uses it to define blocks of code instead of curly braces f like in many other programming languages.

'''
# Key Points:
* Indentation is mandatory in Python.
* The most common practice is to use 4 spaces or a single tab for each level of indentation.
* Inconsistent indentation will lead to an IndentationError.
'''

In [ ]:
age=18
if age>15:
    print(age)    #yaha jo starting mai 4 sapace le rha hai usko bolte hai indentation.

18

#--- Line Contiutation
#--- Use a backslash(\) to continue a statement to the next line.

In [ ]:
total= 1+2+3+4+5+6\
+7+8+9+10               # yaha ho yeh niche wla line ko ek function mai execute krne ke liye hamlog backslash ka use krte hai . Contiutation
print(total)

55

#--- type Inference ---#

In [21]:
a=10
print(type(a))


z= 12.3
print(type(z))

<class 'int'>
<class 'float'>

#--- Literals:  Strings like 'Hello World!' and numbers like 1 and 2.0 are called literals. A literal represents a constant value in Python.

#--- Variables:  Variables are containers used to store values. Defined using the assignment operator (=)

age = 20

# age ho gya tera variables ( vary krta hai)  AND  20 ho gya  Values iske ko bolte hai literals (constatnt hote hai ).

In [22]:
r=int(input("Enter the radius of the circle: "))
area=3.14*r*r
print("Area of the circle with radius", r, "is", area)

Area of the circle with radius 5 is 78.5

# Declaring and Assigning Variable

In [24]:
# Example :- Arvind- 01 -5.9 - Student
name='Arvind'
roll=1
height=5.9
is_students=True

# printing the variable functions

print("age: ", age)
print("height: ", height)
print("roll: ", roll)

age:  18
height:  5.9
roll:  1

In [ ]:
#Variable And Statements

print("Hello")
print("what is your name ?")


n=str(input())
print("Which place are you in ?")
p=str(input())

print("Hello", n, "how is the weather in", p, "?")

print("What is Current age?")
age=int(input())
print('Good to Know that you', age, 'years old')

Hello
what is your name ?
Which place are you in ?
Hello Arru how is the weather in a ?
What is Current age?
Good to Know that you 1 years old

#--- Naming Conventions ---#
'''
Variable names should be descriptive
They must start with a letter or an ' (underscore) and contain letter, numbers and underscores (inside)
Variables names are case sensitive
Valid variable names
'''

In [29]:
#--- uderstanding types of variables ---#
age=25 #int 
height=6.1 #float 
name="Arvind" #str 
is_student=True #bool

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#--- Python is dynamically types, Type of a variable is determined at runtime ---#

In [30]:
b=2
print(type(b))
b=3.4
print(type(b))
b=True
print(type(b))

<class 'int'>
<class 'float'>
<class 'bool'>

In [32]:
#--- User input ---#

name=input('what is your name')
print(name)
print(type(name))

mdm
<class 'str'>

In [33]:
#--- Data types ---#

name= "arvind"
first_name="arru"
print(type(name))
print(type(first_name))

<class 'str'>
<class 'str'>

In [34]:
#--- Number data ---#
x=1    # int 
y=2.3    # float
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [35]:
#--- boolean data : True and False ---#


#list  [1, 2, 3, 4, 5, 6,]
my_list=[1, 3, 4, 5, "yes", "no"]
print(my_list)

[1, 3, 4, 5, 'yes', 'no']

In [36]:
#--- Indexing ---#
list1=[10, 20, 30, 40, 'yes']
print(list1[0])
print(type(list1[0]))

10
<class 'int'>

In [37]:
print(list1[4])
print(type(list1[4]))

yes
<class 'str'>

#--- Type casting ---#
#  using type conversion

In [38]:
age=18
print(type(age))  # String to Integer

<class 'int'>

In [39]:
age_str =str(age)
print(age_str)
print(type(age_str))

18
<class 'str'>

In [ ]:
age_str=18   #Integer to String
print(type(age_str))
age_int= int(age_str)
print(type(age_int))

In [ ]:
height=5.12
type (height)

In [40]:
#float(5.12) to int (5)
int(height)

#int(5) to float (5.0)
float(int(height))

6.0

# Convert integer to boolian
# True= value exist( positive or negative)

In [41]:
a=bool (10)
b=bool(0)
c=bool(-10)

print(a, type(a))
print(b, type (b))
print(c, type(c))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

In [42]:
# Convert string to boolian
a=bool("India")
b=bool("100")
c=bool("0")
d=bool("")

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

In [43]:
# Convert float to boolian
a=bool(10.5)
b=bool(0.0)
c=bool(-10.4)

print(a, type(a))
print(b, type(b))
print(c, type(c))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

#--- Operators: operators are symbols that perform operations on operands.

#--- Arithmetic Operators: (+, -, *, /, //, %, **)

In [44]:
#--- Addition operator ---#
x=10
y=23
result=x + y
print(result)

33

In [45]:
#--- conctenating ---#
x="Hello"
y="World!"
result=x + y
print(result)

HelloWorld!

In [46]:
#--- Substraction ---#
x=23
y=10
result=(x-y)
print(result)

13

In [47]:
#--- Multiplication operator ---#
x=10
y=50
print (x*y)

500

In [48]:
#--- Divide Operator ---#
x=10
y=6
result=x/y
print(result)

1.6666666666666667

In [49]:
#--- Exponentiall operators ---#
x=2
y=4
result=x ** y
print(result)

16

In [5]:
#--- Remainder operator ---#
x=5
y=2
result=x%y
print(result)

1

In [52]:
#--- Floor Division operator ---#  round fig mai result dega!
x=10
y=3
result=(x//y)
print(result)

3

#--- Comparison Operators: A comparison operator compares its operands and returns a boolean value based on whether the comparison is True or False.

In [53]:
#Equality Operator
x=5
y=6
print(x==y)

False

In [54]:
name="python"
name1= "python"
print (name==name1)

True

In [55]:
#inequality x=10
y=10
print(x!=y)

True

In [8]:
#Greater than
x=5
y=4
print(x>y)

#Less than
print (1<5)

#Greater than or equal to (>=)
print (5 >= 4)

#Less than or equal to
print (10 <=10)

True
True
True
True

#--- Logical Operators: Logical operators are commonly used with Booleans.In python, there are 3 logical operators.(And, Or, Not)

In [57]:
#Logical And
print(True and True) #True
print(True and False) #False
print(False and False) #False

True
False
False

In [58]:
# Logical OR
print(True or True) #True
print(True or False) #True
print(False or False) #False

True
True
False

In [59]:
#Logical NOT
print(not (True))
print(not (False))

False
True

In [60]:
#Output 65 
x=(10+3)*5
print (x)


x=2**3*2  # result 16
print (x)


x=45/15//2. # result 1
print(x)

65
16
1.0

#--- Strings: A string is any sequence of characters enclosed within single or double quotes ---#

#--- Length: The length of a string is the number of characters in it. Python provides a built-in function called len to find the length of a string:

In [61]:
x= 'good'
print(len (x))

4

#--- Operations on strings ---#

In [62]:
#--- Concatenation: We can concatenate two strings using the + operator. Concatenation is just a fancy term for joining two strings together:
string1="first"
string2=',' 
string3="second"
string4=string1 + string2 + string3
print(string4)

first,second

In [63]:
#--- Replication: We can make multiple copies of a string and string them all together using the (*) operator.
s= "good"
five_s=s * 5
print(five_s)

goodgoodgoodgoodgood

In [64]:
#--- Comparison: We can compare two strings. To begin with, we have the = operator:

x=' python' 
y= 'pythno'
print(x==y)

False

In [65]:
#Two strings are equal if and only if both of them represent exactly the same sequence of characters.
print( 'good' > 'bad')
print('nine' < 'one')
print('a' < 'ab' < 'abc' < 'b')

True
True
True

'''
It is clear from the above examples that the length of the string 
is not a metric used by Python to compare strings. Instead, Python
uses the familiar alphabetical ordering to compare two strings.
More precisely it employs what is known as lexicographic ordering:

Lexicographic ordering

The first characters from the two strings are compared. 
If they differ this determines the outcome of the comparison. 
If they are equal, then the second character of both the strings are compared. 
This process continues until either string is exhausted.

Lexicographical ordering for strings uses the Unicode code point number to order individual characters.

Python provides a built-in function called ord that returns the code point of any given character.
'''

In [66]:
print(ord('a'))
print(ord('b'))

97
98

#Escape characters: In Python, the backslash - | - is called the escape character. One of its uses is to represent certain white-space characters such as tabs and newlines.

In [67]:
#This is the first sentence.
## This is the second sentence
print( 'This is the first sentence. \nThis is the second sentence.')

This is the first sentence.
This is the second sentence.

In [68]:
#Ð°  b
print('a\tb')

print( 'India\'s captial is New Delhi')

a	b
India's captial is New Delhi

#Substrings: A string is a substring of another string if the first string is contained in the second.

#For example, 'good' is a substring of 'very good",

'''
whereas 'very good' is not a substring of 'verygood'.
Python provides a keyword - in - which can be used to check if a given string is a substring of another string.
'''

In [69]:
a = 'good'
b= 'very good'
present = a in b
print(present)
not_present= b in a
print(not_present)

True
False

In [70]:
#--- Indexing:A string is a sequence of characters.Sequences support indexing. What do we mean by that? Consider the following image:

word= 'world'
#Output w and r
print(word [0])
print(word[2])

w
r

In [71]:
#--- Reverse Order in indexing [-5, -4, -3, -2, -1]
word= 'world'
#Output d and l
print(word [-1])
print(word[-2])

d
l

In [72]:
#--- slicing: Slicing is a way of extracting a substring from a string using the slice function ---#

email = 'CS_10_014@iitm.ac.in'
#output : 014
roll=email[6:9]
print(roll)

014

In [73]:
branch=email[0:2]
#output : CS
print(branch)

year=email[3:5]
#output : 10
print (year)

CS
10

In [74]:
college=email[10:14]
#output : iitm
print(college)

iitm

In [75]:
#rollnumber + branch
email = 'CS_10_014@iitm.ac.in'
#output: CS_10_014
in_roll=email[0:9]
print(in_roll)

CS_10_014

In [76]:
domain=email[-10: ]
#output: iitm.ac.in
print(domain)

iitm.ac.in

# Slicing in Reverse order [-5, -4, -3, -2, -1]--# NEGATIVE AND POSITIVE MIxiNG SLICiNG

In [77]:
word='world' #or
print(word[-4:3])
print(word[1:3])
print(word [1: -2])

or
or
or

In [2]:
print("1 2 3 4 5")

1 2 3 4 5

-----> Thankyou <------